@import 'variables';

/**
 * Material Design override
 */
.mdl-layout__header {
  position: relative;
  display: block;
  box-shadow: none;
  background-color: #ffffff;
}

.mdl-layout__header-row {
  padding: 0 0 0 10px;
  .mdl-navigation__link {
    color: $primary-color;
    font-weight: bold;
  }
}

.mdl-mega-footer {
  background-color: $primary-color;
  color: #ffffff;

  .mdl-mega-footer__heading {
    color: #ffffff;
    font-weight: bold;
  }

  .social-footer li {
    font-size: 1.5em;
  }
}

.menu-small {
  position: absolute;
  color: $primary-color;
  height: 100%;
  display: flex;
  align-items: center;
  top:0;
  right: 20px;

  i {
    font-size: 2.2em;
  }
}

/**
 * Layout
 */
.main-nav {
  display: none;
}

// 404
.not-found {
  background-color: #93eeeb;
  padding: 150px 0;
  text-align: center;

  h1 {
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    font-size: 8em;
    line-height: 0.6em;
    margin-bottom: 120px;
  }

  .small-404 {
    font-size: 0.5em;
  }

  a {
    display: inline-block;
    background-color: #ffffff;
    color: $primary-color;
    padding: 15px 20px;
    font-size: 1.2em;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color .3s;
  }
}

// Logo
.logo {
  padding: 20px 0;
  svg {
    fill: $primary-color;
    width: 100%;
    max-width: 400px;
  }
}

// Page content
.page-content {
  width: 100%;
  margin: 50px auto;

  &.full-layout {
    width: 100%;
    margin: 0;
  }
}

// Featured Post
.featured-post {
  width: 100%;

  .featured-title {
    display: block;
    padding: 3.5em 0 21em;
    max-width: $content-width;
    margin: auto;
    text-align: center;

    h1 {
      text-align: center;
      color: #ffffff;
      font-size: 2.6em;
      font-weight: bold;
      margin-bottom: 10px;
      transition: all .3s;
    }

    .featured-info {
      display: inline-block;
      color: #ffffff;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 5px 1em;
      border-radius: 5px;
      font-size: 0.8em;

      span:not(:last-child):after {
        content: '|';
        padding: 0 1em;
      }

      i {
        vertical-align: middle;
        font-size: 1em;
        margin-right: 0.4em;
      }
    }
  }
}

// Wrapper content
.wrapper-content {
  position: relative;
}

// List posts
.all-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 50px;
}

// Item post
.item-post {
  display: block;
  width: 100%;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14);
  border-radius: 5px;
  transition: all 0.3s;
  margin-bottom: 30px;

  .mdl-card__title {
    padding: 0;
  }

  .mdl-card__supporting-text {
    font-size: 1em;
    text-align: center;

    h2 {
      width: 100%;
      font-size: 1.2em;
      display: inline-block;
    }
  }

  .item-post-category {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8em;
    background-color: #e2e2e2;
    color: #919191;
    margin-bottom: 10px;
    padding: 5px 1em;
    border-radius: 5px;
  }

  figure {
    margin: 0;
    img {
      width: 100%;
    }
  }
}

/**
 * Until tablet
 */
@media only screen and (max-width: 767px) {
  .main-nav {
    opacity: 0;
    transform: translateX(-300px);
    transition: transform .7s, opacity .4s;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #222;
    height: 100vh!important;
    width: 300px;
    text-transform: uppercase;
    padding: 20px 0 0 10px!important;

    .mdl-navigation__link {
      font-size: 1.4em;
      font-weight: 400;
      color: #cccccc;
      letter-spacing: 0.04em;
    }
  }
}

/**
 * Small
 */
@media only screen and (min-width: $small) {
  // List posts
  .all-posts {
    padding: 0;
  }

  .item-post {
    display: block;
    width: calc(95% / 2);
  }
}

/**
 * Tablet
 */
@media only screen and (min-width: $tablet) {

  .main-nav {
    display: flex;
  }

  .menu-small {
    display: none;
  }

  .item-post {
    display: block;
    width: calc(95% / 3);
  }
}

/**
 * Desktop
 */
@media only screen and (min-width: $desktop) {

  .mdl-layout__header-row {
    padding: 0 30px;
  }

  .main-nav {
    display: flex;
  }
  // Page content
  .page-content {
    width: $content-width;
  }

  .not-found {
    a {
      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  .item-post {
    &:hover {
      box-shadow: 0 8px 15px 0 rgba(0, 0, 0, .16);
      background-color: #f6f6f6;
    }
  }

  // Featured Post
  .featured-post {
    .featured-title {
      &:hover h1 {
        text-shadow: 5px 5px rgba(0, 0, 0, .3);
        opacity: .6;
      }
    }
  }
}